.main-cuerpo {
  padding-top: 100px;
}


/* portada */

.cover-container {
  max-width: 42em;
}

.main-cabecera {
  min-height: 500px;
  display: flex;
  align-items: center;
}

.aligned-centered {
  padding-top: 15px;
  display: flex;
  align-items: center;
}

/* cuerpo */


.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.featurette-divider {
  margin: 5rem 0; 
}

.featurette-heading {
  letter-spacing: -.05rem;
}

/* movil */

@media (min-width: 40em) {

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* contacto */
.padding-bottom {
  margin-bottom: 80px;
}

/* estilo */
.resaltado {
  color: #02A189;
  font-weight: 500;
}

